@tailwind base;
@tailwind components;
@tailwind utilities;

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.changa-one {
  font-family: "Changa One", sans-serif;
}
.lora {
  font-family: "Lora", sans-serif;
}
@keyframes fadeInThenScale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleUp {
  0% {
    transform: translate(0, -50%) scale(0);
  }
  100% {
    transform: translate(-50%) scale(1);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes text-blur {
  0%,
  92%,
  100% {
    filter: blur(0);
    color: theme("colors.secondary");
  }
  91% {
    filter: blur(2px);
    color: #ffffff;
  }
}
@keyframes border-slide {
  0%,
  10% {
    border-top-color: theme("colors.secondary");
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: theme("colors.secondary");
    border-right-color: theme("colors.secondary");
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-top-color: theme("colors.secondary");
    border-right-color: theme("colors.secondary");
    border-bottom-color: theme("colors.secondary");
    border-left-color: transparent;
  }
  75% {
    border-top-color: theme("colors.secondary");
    border-right-color: theme("colors.secondary");
    border-bottom-color: theme("colors.secondary");
    border-left-color: theme("colors.secondary");
  }
  100% {
    border-color: theme("colors.secondary");
  }
}
.border-animated {
  position: relative;
  display: inline-block;
  padding: 1rem;
  border: 2px solid transparent;
}

.border-animated::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid red;
  box-sizing: border-box;
  pointer-events: none;

  animation: border-rotate 4s linear forwards, color-change 9s linear infinite;
}

@keyframes border-rotate {
  0% {
    clip-path: inset(0 0% 100% 0);
  }

  100% {
    clip-path: inset(0 0% 0% 0);
  }
}

@keyframes color-change {
  0% {
    border-color: rgb(122, 184, 176);
  }
  25% {
    border-color: rgb(11, 42, 73);
  }
  50% {
    border-color: rgb(25, 196, 164);
  }
  75% {
    border-color: rgb(7, 54, 72);
  }
  100% {
    border-color: rgb(58, 229, 235);
  }
}

@keyframes slideInRIght {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.hover-border-animate:hover {
  animation: border-slide 1.5s ease-in forwards;
}

@keyframes meteorMove {
  0% {
    transform: translate(0, 0) rotate(-45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) translateX(50vw);
    opacity: 0;
  }
}
@keyframes pulseIcon {
  0% {
    box-shadow: 0 0 0 0 rgba(59, 142, 89, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(34, 101, 59, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(74, 222, 128, 0);
  }
}

@layer utilities {
  .animate-fadeInScale {
    animation: fadeInThenScale 1.2s ease-in-out forwards;
    transform-origin: center;
  }
  .animate-scaleUp {
    animation: scaleUp 1s ease-out forwards;
    transform-origin: left;
  }
  .animate-fadeInRight {
    animation: fadeInRight 1.4s ease-in forwards;
  }
  .animate-fadeInBottom {
    animation: fadeInBottom 1.8s ease-out forwards;
  }

  .animate-text-blur {
    animation: text-blur 2s ease-in 0.5s infinite;
    will-change: filter;
  }
  .animate-slide-right {
    animation: slideInRIght 0.5s ease forwards;
  }
  .animate-slide-left {
    animation: slideInLeft 0.5s ease forwards;
  }

  .animate-meteor {
    animation: meteorMove 10s linear forwards;
    transform-origin: top left;
    @keyframes meteorMove {
      0% {
        transform: translate(0, 0) rotate(-45deg);
        opacity: 1;
      }
      100% {
        transform: translateY(100vh) translateX(50vw);
        opacity: 0;
      }
    }
  }
  .animate-pulse {
    animation: pulseIcon 2s infinite;
  }
}

@media (prefers-reduced-motion: reduce) {
  .animate-text-blur {
    animation: none;
  }
}
